{% load staticfiles %}
<html>
    <head>
        <title>Humor Genome</title>
    </head>
    <body>
        <div id="headerContainer">
            <div id="div1">
                <a href="/">Humor Genome Project</a>    
            </div>
            <div id="div2">
                {% if user.is_authenticated %}
                    <a href="/logout/">log out</a>
                {% else %}
                    <a href="/login/">log in</a>
                {% endif %}
            </div>

            {% if not user.is_authenticated %}
                <div id="div3">
                    <a href="/signup/">sign up</a>
                </div>
            {% endif %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>